@import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Rubik";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 3.71875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.header {
  background-color: #0D0D2B;
}

.nav {
  padding: 3.75rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.9375rem 0rem 0rem 0rem;
}

.logo {
  padding-top: 0.9375rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.9375rem;
  padding-left: 2rem;
}

.nav-list li {
  padding: 0rem 2rem 0rem 0rem;
}

.nav-list li:last-child {
  padding-right: 0rem;
}

.reg {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 0rem 3.4375rem;
  padding-left: 24px;
}

.reg a {
  padding-top: 0.9375rem;
}

.log {
  padding-right: 24px;
}

.button {
  border-left: solid 1px #666363;
  padding: 0rem 0rem 0rem 1.5rem;
  font-weight: 500;
}

.btn {
  background-color: #3671E9;
  padding: 0.875rem 2rem;
  border-radius: 32px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.171);
  -webkit-box-shadow: 0px 0px 15px #FFFFFF;
          box-shadow: 0px 0px 15px #FFFFFF;
}

.try-for {
  margin: 6.125rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  margin: 9.8125rem 0rem 1.75rem 0rem;
}

.save {
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
  color: #000;
  font-weight: 500;
  border-radius: 2rem;
  padding: 0.375rem 1rem;
  margin: -0.375rem 0rem 0rem 0rem;
}

.black {
  position: relative;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 2rem;
  padding: 0.375rem 0.6875rem 0.375rem 7.25rem;
}

.text-block__h1 {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 1.5rem;
}

.text-block__p1 {
  color: #E0E0E0;
  width: 435px;
  margin: 0rem 0rem 2rem 0rem;
  line-height: 1.75rem;
}

.footer__bg {
  background-color: #0D0D2B;
}

.foot-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4.875rem 0rem 4.625rem 0rem;
}

.foot-title__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.00625rem;
}

.foot-title__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-title__icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-title__icon-inst {
  padding: 0rem 2.125rem 0rem 2.125rem;
}

.foot-title__icon-twit {
  padding: 0rem 2.125rem 0rem 2.125rem;
}

.fons {
  background-color: #0D0D2B;
}

.leter-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6.25rem 0rem 0rem 0rem;
}

.leter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9rem;
  margin-bottom: 7.25rem;
}

.leter__info {
  padding: 0.8125rem 0rem 0rem 0rem;
}

.img-info {
  margin-right: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.let {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0.9375rem;
}

.text__info {
  color: #E0E0E0;
}

.leter__check {
  margin-top: 6.25rem;
}

.check-how {
  text-align: center;
}

.text__inf {
  color: #E0E0E0;
  font-size: 18px;
  width: 38.875rem;
}

.text12 {
  margin-left: 18.125rem;
  margin-top: 1.5625rem;
}

.calculate-block {
  margin-top: 4rem;
}

.calkulate {
  max-width: 58.875rem;
  margin: 0 auto;
  background: #FBFCFE;
  border-radius: 16px 16px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 3rem 3rem 3.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 59px;
}

.blok1 {
  -webkit-box-ordinal-group: none;
      -ms-flex-order: none;
          order: none;
  background-color: #FBFCFE;
  border-bottom: 1px solid #E0E0E0;
  height: 38px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.blok1__enter {
  font-size: 20px;
  color: #000;
  outline: none;
  width: 25.1875rem;
  padding-bottom: 0.0625rem;
}

.blok1__enter::-webkit-input-placeholder {
  color: #000;
  font-weight: 400;
}

.blok1__enter::-moz-placeholder {
  color: #000;
  font-weight: 400;
}

.blok1__enter:-ms-input-placeholder {
  color: #000;
  font-weight: 400;
}

.blok1__enter::-ms-input-placeholder {
  color: #000;
  font-weight: 400;
}

.blok1__enter::placeholder {
  color: #000;
  font-weight: 400;
}

.blok2 {
  border: none;
  outline: none;
  background-color: #FBFCFE;
  border-bottom: 1px solid #E0E0E0;
  height: 38px;
  margin-right: 48px;
  margin-left: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.blok2__th {
  font-size: 15px;
  color: #000;
}

.btn__bt {
  background-color: #3671E9;
  padding: 0.875rem 2rem;
  border-radius: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.btn__bt:hover {
  background-color: #2B076E;
  -webkit-box-shadow: 0px 0px 15px #525252;
          box-shadow: 0px 0px 15px #525252;
}

.font {
  background-color: #FBFCFE;
}

.estimated__block {
  color: #000;
  max-width: 58.875rem;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 0px 0px 16px 16px;
  -webkit-box-shadow: 0px 50px 70px rgba(57, 23, 119, 0.1843137255);
          box-shadow: 0px 50px 70px rgba(57, 23, 119, 0.1843137255);
  padding: 3rem 3rem 3rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.estimated__hours {
  text-transform: uppercase;
  color: #3671E9;
}

.estimated__result {
  margin: 1rem 0rem 1rem 0rem;
  font-weight: 700;
  font-size: 32px;
}

.estimated__result span {
  color: #3671E9;
}

.text-o {
  color: #828282;
}

.crypto__container {
  text-align: center;
}

.crypto__title {
  padding-top: 6.25rem;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 150%;
  color: #000;
}

.crypto__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6.25rem;
}

.crypto-item {
  margin-bottom: 2.8125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-color: #FFFFFF;
  padding: 3rem 0;
  -webkit-backdrop-filter: blur(15.625rem);
          backdrop-filter: blur(15.625rem);
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.025rem 1.25rem rgba(57, 23, 119, 0.1921568627);
          box-shadow: 0 0.025rem 1.25rem rgba(57, 23, 119, 0.1921568627);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.crypto-item:hover {
  background-color: #2B076E;
  -webkit-box-shadow: 0 0.025rem 2.5rem rgba(57, 23, 119, 0.3764705882);
          box-shadow: 0 0.025rem 2.5rem rgba(57, 23, 119, 0.3764705882);
}

.crypto-item:hover .crypto-item__title,
.crypto-item:hover .crypto-item__text {
  color: #FFFFFF;
}

.crypto-item:hover .crypto-item__link-text {
  width: 8.3125rem;
}

.crypto-item:hover .crypto-item__link {
  background-color: #3671E9;
}

.crypto-item:hover .crypto-item__link-icon {
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  border: 0.0625rem solid #FFFFFF;
}

.crypto-item:hover .crypto-item__img {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.crypto-item__img {
  margin-bottom: 3rem;
}

.crypto-item__title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #000;
}

.crypto-item__type {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  color: #adadad;
}

.crypto-item__text {
  display: inline-block;
  margin-bottom: 2.5rem;
  max-width: 20.125rem;
  color: #828282;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.crypto-item__link {
  margin-bottom: 3rem;
  background-color: #FFFFFF;
  color: #FFFFFF;
  padding: 0rem 0.9375rem;
  border-radius: 2rem;
  font-size: 1.125rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 12.8125rem;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.crypto-item__link-text {
  font-size: 1.125rem;
  font-weight: 500;
  width: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.crypto-item__link-icon {
  background-color: #FFFFFF;
  width: 4rem;
  height: 4rem;
  display: block;
  border-radius: 100%;
  background-image: url(../img/strell.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0.0625rem solid rgba(43, 7, 110, 0.2);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.mining__bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#2B076E), to(#0D0D2B));
  background: -o-linear-gradient(top, #2B076E 0%, #0D0D2B 100%);
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
  padding: 5.5rem 7.5rem;
}

.mining__df {
  background-color: #3671E9;
  padding: 3rem 3rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mining__info-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.mining__info-text {
  width: 21.75rem;
  line-height: 1.75rem;
}

.mining__poles-text-enter {
  margin-top: 1.375rem;
  color: #FBFCFE;
  outline: none;
  background-color: #3671E9;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  width: 23.375rem;
}

.mining__poles-text-enter::-webkit-input-placeholder {
  color: #FBFCFE;
  font-weight: 400;
}

.mining__poles-text-enter::-moz-placeholder {
  color: #FBFCFE;
  font-weight: 400;
}

.mining__poles-text-enter:-ms-input-placeholder {
  color: #FBFCFE;
  font-weight: 400;
}

.mining__poles-text-enter::-ms-input-placeholder {
  color: #FBFCFE;
  font-weight: 400;
}

.mining__poles-text-enter::placeholder {
  color: #FBFCFE;
  font-weight: 400;
}

.mining__poles-button-text {
  margin-top: 0.75rem;
  color: #000;
  background-color: #FBFCFE;
  padding: 0.875rem 2.125rem;
  border-radius: 2rem;
}