//!=============================== END ===============================//
//?===================================================================//
//*============================== START ==============================//
.page {


    // .page__container
    &__container {
        
    }
}

.fons {
    background-color: $foot;
}

.leter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: rem(100) rem(0) rem(0) rem(0);
}

.leter {
    display: flex;
    margin-top: rem(144);
    margin-bottom: rem(116);
    
    

    // .leter__info
    &__info {
        padding: rem(13) rem(0) rem(0) rem(0);
        
    }

}
.img-info {
    margin-right: rem(24);
    justify-content: space-between;
    
    


}
.let {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: rem(15)

}


.text {
    // .text__info
    &__info {
        color: $text1;
    }
}


//!=============================== END ===============================//
//?===================================================================//
//*============================== START ==============================//


.leter {

    // .leter__check
    &__check {
        margin-top: rem(100);
    }
}
.check-how {
    text-align: center
}
.let {
}
.text {

    // .text__center
    &__center {
        
    }

    // .text__info
    &__inf {
        color: $text1;
        font-size: 18px;
        width: rem(622);
    }
}

.text12{
    margin-left: rem(290);
    margin-top: rem(25);
}

//?===================================================================//

.calculate-block {
    margin-top: rem(64);
}
.calkulate {
    max-width: rem(942);
    margin: 0 auto;
    background: $block2;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: rem(48) rem(48) rem(48) rem(49);
    align-items: center;
    height: 59px;
    
}

.blok1 {
    margin-top: rem(13);
    order: none;
    background-color: $block2;
    border-bottom: 1px solid $text1;
    height: 38px;
    flex: 1 1 300px;
		// .blok1__enter
		&__enter {
            font-size: 20px;
            color: $block1;
            outline:none;
		} 
}
.blok2 {
    border: none;
    outline:none;
    background-color: $block2;
    border-bottom: 1px  solid  $text1;
    height: 38px;
    margin-right: 48px;
    margin-left: 48px;
    flex: 1 1 200px;
		// .blok2__th
		&__th {
            font-size: 15px;
            color: $block1;        
		}
}
.butt {
}

.btn {
    
    // .btn__bt
    &__bt {
        background-color: $button;
        padding: rem(14) rem(32) ;
        border-radius: 32px;
        flex: 1 1 200px;
            &:hover{
                background-color: $hov;
                box-shadow: 0px 0px 15px #525252;
            }
    }
}

//!=============================== END ===============================//
//?===================================================================//
//*============================== START ==============================//

.font {
    background-color: $block2;
}
.estimated {
    
		// .estimated__container

		&__container {
		}

		// .estimated__block

		&__block {
            color: $block1;
            max-width: rem(942);
            margin: 0 auto;
            background: $mainColor;
            border-radius: 0px 0px 16px 16px;
            box-shadow: 0px 50px 70px #3917772f;
            padding: rem(48) rem(48) rem(48) rem(48);
            align-items: center;

		}

		// .estimated__hours

		&__hours { 
            text-transform: uppercase;
            color: $button;
		}

		// .estimated__result

		&__result {
            margin: rem(16) rem(0) rem(16) rem(0);
            font-weight: 700;
            font-size: 32px;
                span{
                    color: $button;
                }
		}
}
.text-o {
color: $o;
}

//!=============================== END ===============================//
//?===================================================================//
//*============================== START ==============================//

.kalag {

    // .kalag__block

    &__block {
        color: $block1;
        margin-top: rem(100);
    }

    // .kalag__text-trade

    &__text-trade {
        font-weight: 700;
        font-size: 40px;
        width: rem(741);
        margin: 0  auto;
        text-align: center;
    }

    // .kalag__info-coin

    &__info-coin {
        margin: rem(64) rem(0) rem(100) rem(0);
        display: flex;
        justify-content: space-between;
        text-align: center;
        
        
    }
}

.transform{
    padding: rem(48) rem(24) rem(48) rem(24);
}

.coin {
    flex: 0 0 30%;

    // .coin__img

    &__img {
    }

    // .coin__name

    &__name {
        margin: rem(48) rem(0) rem(16) rem(0);
    }

    // .coin__info

    &__info {
        width: rem(322);
        margin-bottom: rem(43);
        line-height: 1.5;
    }

    // .coin__b
    &__b {
        background-color: $mainColor;
        padding: rem(48) rem(24) rem(48) rem(24);
        border-radius: rem(20);
        box-shadow: 0px 40px 40px $ten;
        transition: .6s ease;
        &:hover{
            background-color: $hov;
            color: $block2;
        }
    }

    // .coin__e
    &__e {
        background-color: $mainColor;
        padding: rem(48) rem(24) rem(48) rem(24);
        border-radius: rem(20);
        box-shadow: 0px 40px 40px $ten;
        transition: .6s ease;
        &:hover{
            background-color: $hov;
            color: $block2;
        }
    }

    // .coin__l
    &__l {
        background-color: $mainColor;
        padding: rem(48) rem(24) rem(48) rem(24);
        border-radius: rem(20);
        box-shadow: 0px 40px 40px $ten;
        transition: .6s ease;
        &:hover{
            background-color: $hov;
            color: $block2;
        }
    }
}

//?===================================================================//

.crypto {
    
    // .crypto__btn

    &__btn {
        background-color: $button;
        color: $block2;
        font-size: rem(18);
        border-radius: rem(32);
        padding: rem(18) rem(20);
        justify-content: center;
        display: flex;
        align-items: center;
        max-width: rem(235);
        margin: 0 auto;
            &:hover{
                border-color: $block2;
            }
        
    }

    // .crypto__btn-text

    &__btn-text {
        font-size: rem(18);
        font-weight: 500;
        margin-right: rem(24);
        white-space: nowrap;
        transition: .2s ease background-color;
    
    }

    // .crypto__btn-item

    &__btn-item {
        background-color: $block2;
        width: rem(64);
        height: rem(64);
        display: block;
        border-radius: 100%;
        background-image: url(../img/strell.svg);
        background-repeat: no-repeat;
        background-position: center center;
        border: 2px solid #2b076e41;
        
    }
}


//!=============================== END ===============================//
//?===================================================================//
//*============================== START ==============================//



//!=============================== END ===============================//
//?===================================================================//
//*============================== START ==============================//